:root {
  --content-width: 50em;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-kerning: normal;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  line-height: 1.2em;
}
section {
  margin: 1.5em 0 1.5em 0;
}

img {
  max-width: 100%;
  margin: auto;
}

.wrapper {
  max-width: var(--content-width);
  margin: auto;
}

@media screen and (max-width: --content-width) {
  .wrapper {
    max-width: 100vw;
  }
}

.full_width {
  padding: 2em 0;
  background-color: #f2f2f2;
}
@media screen and (min-width: 50em) {
  .full_width {
    margin: 0 calc(-1 * ((100vw - var(--content-width)) / 2));
  }
}

@media screen and (max-width: 768px) {
  header,
  article,
  section {
    margin: auto;
    max-width: 30em;
    padding: 5px 15px;
    line-height: 1.8em;
    padding: 0;
  }
}
h1,
h3,
a {
  font-family: "Lato";
  color: black;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 2em 0 1em;
}

h2 {
  font-family: "Lato";
  font-size: 1.5em;
  font-style: normal;
  font-weight: bold;
  margin: 1.5em 0 1em 0;
}
h3 {
  font-size: 1.2em;
  font-weight: 700;
  margin: 1.5em 0 1em 0;
  font-style: normal;
}
h4 {
  font-family: "Roboto";
  font-size: 1em;
  line-height: 28px;
  font-weight: 600;

  color: #3b3b3b;
  font-style: normal;
}

p,
ul {
  font-family: "Roboto";
  font-size: 1em;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
  color: #3b3b3b;
  font-style: normal;
}
ul {
  padding: 0 20px 0 20px;
}

a {
  text-decoration: none;
}
.gif,
.solution_img {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}
.text_bold {
  font-weight: 600;
}

#photo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  border: 1px solid #9f9f9f;
}
#graphic {
  margin: 2em 0 0 0;
}
@media screen and (max-width: 768px) {
  #photo {
    margin: 2em 0;
    width: 100%;
  }
}
#screenshot {
  width: 100%;
  margin: 2em 0;
}
.interjection {
  margin-top: 1em;
}

.gallery > * + * {
  margin: 30px 0 0;
}
.gallery > *:last-child {
  margin-bottom: 30px;
}
.gallery > *:first-child {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .gallery {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .container,
  .gallery {
    margin: 0;
  }
}

.interjection {
  margin-top: 1em;
}

footer {
  top: 50%;
  display: flex;
  justify-content: center;
  margin: 4em 0;
}

.footer-header {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  font-weight: bolder;
  font-size: 2em;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.bm {
  height: 100%;
  width: 32px;
  margin: 0 20px;
  cursor: pointer;
}
.git {
  width: 24px;
}

.bottom-line {
  border-bottom: 1.5px solid black;

  margin: 4em 0.9em;
}

span a {
  text-decoration: none;
}
.page-name {
  font-size: 1.1em;
}

ul li a {
  text-decoration: none;
  font-size: 1em;
}

.social-media-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

.workshops_img {
  width: 100%;
}

.solution_description {
  margin-bottom: 3em;
}

.full_width_section_photo {
  margin: 1em 0 1.5em 0;
}
