html{
    display:block;
    font-size: 16px;
    font-kerning: normal;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

nav body{
    margin: 0;
    line-height: 1.2em;
}
h1,h3,a{
    font-family: 'Lato';
    color:black;
}
h1{
    font-size: 4em;
    font-weight: 700;
    margin: 0;
}
#content-mobile h1{
    font-size: 3.5em;
}
h3{
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 0;
    font-style: normal;
}
h2{
    font-family:'Lato';
    font-size: 1.5em;
    font-style: normal;
    font-weight: normal;
 }
p{
    font-family: 'Roboto';
    font-size: 1.1em;
    line-height: 1.55;
    font-weight: 400;
    margin: 0;
    color:#727483;
    font-style: normal;
}
a{
    text-decoration: none;
}

li{
    font-family: 'Lato', sans-serif;
}
nav{
    margin-top: 1em;
   width: 100%;
}

#content-mobile h1{
    display: inline;
}

#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 765px) {

    #content-desktop {display: none;}
    #content-mobile {display: block;}
    }

.my-name-mobile{
    opacity:0;
    animation: showup 5s alternate;
    animation-delay: 1s;
    animation-fill-mode:forwards;
}

.my-name{
    margin-top: 20vh;
}

@media screen and (max-width: 768px) {
   .my-name{
       transform:translateY(-60px);
    }
}
    


.loader{
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    padding-top: 16px;
    padding-right: 0;
}
@media screen and (max-width: 768px) {
    .loader{
        display: flex;
        justify-content: center;
    }
}
span a{
    text-decoration: none;
     
}
.page-name{
    font-size:1.1em;
}

 ul li a{
    text-decoration: none;
    font-size: 1em;
 }
.social-media-icons ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}
.social-media-icons li{
    margin: 0px 20px;
}
/*
@media screen and (max-width: 768px) {
    .social-media-icons ul {
        justify-content: center;
        padding-left:30px;
    }
}
*/
     
.scroll{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 9em;
}
@media screen and (max-width: 768px) {

    .scroll {
        display: none;
    }
     }
     


footer{
    top:50%;
    margin-top:20%;
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
}

.footer-header{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    font-weight: bolder;
    font-size: 2em;
}

.footer-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
.footer-icons li{
    margin: 0px 20px 0px 20px;
}

.footer-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}


/*Portfolio*/
.portfolio-heading h2{
    padding: 1.5vh 0 1.5vh 0;
    font-size: 2em;
    font-weight: bold;
    font-family: Lato;
}
.work a{
    padding:15px;
}

#project1{
    background-image:url(../img/green.png);
    position: relative;

}
#project1-photo{
    z-index: 1;
    pointer-events: none;
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow:0em 2px 6px rgba(0,0,0,0.3);
}
#project2{
    background-image:url(../img/yellow.jpg);
    position: relative;
    text-decoration: none;
}

#project2-photo{
    z-index: 1;
    pointer-events: none;
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow:0em 2px 6px rgba(0,0,0,0.3);
}
#project3{
    background-image:url(/img/peach.png);
    position: relative;
}

.color-rectangle:hover{
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
}


.color-rectangle{
    display:block;
    max-width:100vh;
    height: 55vh;
    transition: all .3s ease-in-out; 
}

@media screen and (max-width: 420px) {
    .color-rectangle {
       max-height: 35vh;
    }
}

.projects-section > *+*{
    margin-top: 4em;
}
.projects-section > *:last-child{
    margin-bottom: 5em;
}


.project-description{
    padding-left: 2em;
}

@media screen and (max-width: 768px) {
    .project-description {
       padding:0;
    }
}
/*Resume*/

.resume-name{
    padding: 5rem 0px 0;
    margin-bottom: 20px;
}
.resume-name h2{
    font-family: Lato;
    font-weight: bold;
    font-size: 2em;
}

.experience p{
    display: inline-block;
}

.resume ul{
    list-style: none;
}
ul {
    padding: 0;
}
.skills{
    padding-left: 150px;
}

.agency-name{
    font-weight: bolder;
    margin-bottom:0;
}
.date{
    font-style: italic;
    font-weight: lighter;
    padding-left: 5px;
}
.courses{
    padding-left: 10px;
}
.list{
    line-height: 2em;
}

.skills-section ul{
    margin-bottom: 100px;
}


/*button*/
.btn {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 2em;
    color: black;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    margin-top: 2vh;
    margin-left: 0;
    padding: 1.2em 2.5em;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
   .btn:hover {
    box-shadow: 0em 2px 6px rgba(0,0,0,0.3);
    transform: scale(1.03, 1.03);
    }


    /*animation*/
    .animation{
        display:inline-block;
        overflow:hidden;
        white-space:nowrap;
      }

      .welcome {
        animation: showup 4s alternate;
      }
       
      .welcome-name {
        width:0px;
        animation: reveal 6s alternate;
        animation-fill-mode:forwards;
      }
      .about{
        font-family: 'Roboto';
        opacity:0;
        animation: slide 1.5s ease-in-out alternate;
        animation-fill-mode:forwards;
        animation-delay: 1s;
       }
       .showup {
        opacity:0;
        animation: showup 4s alternate;
        animation-delay: 2.5s;
        animation-fill-mode:forwards;
        
      }
     
      
      @keyframes reveal {
          0% {opacity:0;width:0px;}
          20% {opacity:1;width:0px;}
          30% {width:620px;}
          80% {opacity:1;}
          100% {width:620px;}
      }

      @keyframes showup {
        0% {opacity:0;}
        35% {opacity:1;}
        100% {opacity:1;}
    }
          
@keyframes slide{
    0% {opacity:0;
         transform: translateY(-100px);
        }
      60% {opacity:0;
        transform: translateY(-40px);
         }
   70% {opacity:1;
        transform: translateY(10px);
         }
  100% {opacity:1;
        transform: translateY(0px);
         }
    }

